{% load static %}

<footer class="landing-footer-two">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'home/trx34.png' %}" alt="">
          <p>Crypo is the most advanced UI kit for making the Blockchain platform. This kit comes with 4 different
            exchange page, market, wallet and many more</p>
          <!-- <ul class="social-icon">
            <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
            <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
            <li><a href="#"><i class="icon ion-logo-linkedin"></i></a></li>
            <li><a href="#"><i class="icon ion-logo-pinterest"></i></a></li>
            <li><a href="#"><i class="icon ion-logo-github"></i></a></li>
          </ul> -->
        </div>
        <div class="col-md-6 text-center">
          <h3>Company</h3>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact-us</a></li>
            <li><a href="#">FAQ</a></li>
            
          </ul>
        </div>
      
      </div>
    </div>
  </footer>