{% extends 'home/base.html' %}
{% load static %}
{% block content %}


<style>
    a{
        color: white;
    }
    a:hover{
        color: #b21212;
    }
</style>
  <div class="vh-100 d-flex justify-content-center">
    {% if messages %}

            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
      
        {% endif %}
    <div class="form-access my-auto">
      <form method="post">
        {% csrf_token %}
        <span>Sign In</span>
        <div class="form-group">
          <input type="text" name="username" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="text-right">
          <a href="reset-password-dark.html" >Forgot Password?</a>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="form-checkbox">
          <label class="custom-control-label" for="form-checkbox" >Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
      <h2 >Don't have an account? <a href="{% url 'home:signup' %}"  >Sign up here</a></h2>
    </div>
  </div>
  <br> <br>

  {% endblock %}