{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="container">
        <div class="landing-info-one  mtb100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center mb-5">USER AGREEMENT</h1>
                        <p>This user agreement (this “Agreement”) sets forth the legally binding terms and conditions
                            your access to and use of any websites, mobile sites, mobile applications, desktop
                            applications, products or services (the “Services”) offered by "TREASURE PAYMENT PORTAL CO.
                            L.L.C" company. " TREASURE PAYMENT PORTAL CO. L.L.C " provides two separate schemes further
                            described under Sections A and B, respectively, below. </p>
                        <p>Any reference to “TETHERING TRON”, "COMPANY", “us”, “our”, and “we” in this Agreement shall
                            be construed to be a reference to "TREASURE PAYMENT PORTAL CO. L.L.C". The “User”, “you”,
                            "investor" “your” shall refer to any natural person or entity and its authorized users that
                            subscribes or uses the Services. Certain features of the Site may be subject to additional
                            guidelines, terms, or rules, which will be posted on the site in connection with such
                            features. All such additional terms, guidelines, and rules are incorporated by reference
                            into this Agreement.</p>
                        <p>BY ACCESSING OR USING THE SERVICES, YOU ARE ACCEPTING THIS AGREEMENT (ON BEHALF OF YOURSELF
                            OR THE ENTITY THAT YOU REPRESENT), AND YOU REPRESENT AND WARRANT THAT YOU HAVE THE RIGHT,
                            AUTHORITY, AND CAPACITY TO ENTER INTO THIS AGREEMENT (ON BEHALF OF YOURSELF OR THE ENTITY
                            THAT YOU REPRESENT). YOU MAY NOT ACCESS OR USE THE SERVICES OR ACCEPT THIS AGREEMENT IF YOU
                            ARE NOT AT LEA=ST 15 YEARS OLD. IF YOU DO NOT AGREE WITH ALL OF THE PROVISIONS OF THIS
                            AGREEMENT, DO NOT ACCESS AND/OR USE THE SITE. </p>
                        <p>We may amend this Agreement related to the Services from time to time. Amendments will be
                            effective upon our posting of such updated Agreement at this location or the amended
                            policies or supplemental terms on the applicable Service. Your continued access or use of
                            the Services after such posting constitutes your consent to be bound by the Agreement, as
                            amended.</p>
                        <p>USING THE SERVICES PROVIDED BY "TETHERING TRON", YOU ARE SOLELY AND ENTIRELY RESPONSIBLE FOR
                            THE LEGAL, REGULATORY AND TAX COMPLIANCE OF ALL TRANSACTIONS CARRIED OUT BY YOU USING THE
                            SERVICES, SUBJECT TO THE TERMS OF THIS AGREEMENT. YOU AGREE THAT WE MAY DISCLOSE YOUR
                            PERSONAL AND ACCOUNT INFORMATION IF WE BELIEVE THAT IT IS REASONABLY NECESSARY TO COMPLY
                            WITH A LAW, REGULATION, LEGAL PROCESS, OR GOVERNMENTAL REQUEST.</p>
                        <p>BY ACCESSING OR USING THE SERVICES, YOU HAVE THE RIGHT, AUTHORITY, AND CAPACITY TO ENTER INTO
                            TWO SCHEMES PROVIDED BY "TETHERING TRON", NAMELY, "TRONIN" AND "TETHERTO". THE FUNCTIONS,
                            OBJECTIVES, RULES AND REGULATIONS OF THESE TWO SCHEMES ARE PRESCRIBED WELL UNDER SECTION A
                            AND SECTION B BELOW. THE FEATURES, TERMS, CONDITIONS AND AGREEMENTS REGARDING THE ACCOUNTS,
                            ACCESS TO THE SERVICES, PROHIBITED ACTIVITIES, THIRD PARTY SERVICES, FEES AND TAXES,
                            SUSPENSION AND TERMINATION, INDEMNIFICATION AND COMMUNICATION ARE PRESCRIBED THEN FROM PART
                            1 TO PART 8 WELL. THE LIMITATIONS AND FUNCTIONS OF THIS AGREEMENT ITSELF ARE DESCRIBED
                            THEREAFTER UNDER PART 9. </p>
                        <h4>SECTION A</h4>
                        <h6>THIS SCHEME IS NAMED AS "TRONIN".</h6>
                        <p>"TRONIN" IS AN INVESTMENT SCHEME WHEREIN YOU INVEST MINIMUM ONE UNIT OF 1000 TRXs IN RETURN
                            OF ITS PROFIT OBTAINED BY THE TRANSACTIONS MADE BY .... IN THE FOLLOWING RATIO.</p>
                        <p>YOU CAN INVEST MORE THAN ONE UNIT OF 1000 TRXs REGARDING YOUR ECONOMICAL STATUS AND THIS
                            UNIT/UNITS ARE REGARDED AS YOUR PRINCIPLE ASSET IN "TRONIN" INVESTMENT SCHEME.</p>
                        <p>IT'S AN INVESTMENT SCHEME OF FIVE YEARS WHEREIN YOU CAN WITHDRAW YOUR PRINCIPLE ASSET ONLY
                            AFTER FIVE YEARS FROM YOUR INVESTMENT. YOU GET YOUR PRINCIPLE ASSET IN THE TERM OF USDT
                            CRYPTOCURRENCY THAT EQUALIZE TO THE VALUE OF YOUR PRINCIPLE ASSET IN THE TIME OF YOUR
                            INVESTMENT. </p>
                        <p>YOU CAN INVEST THE WANTED UNIT/ UNITS OF 1000 TRXs TO THE "TETHERING TRON" COMPANY BY ANY
                            PHYSICAL CURRENCY IN THE AMOUNT THAT EQUALIZE TO THE TRX CRYPTOCURRENCIES YOU WANTED TO
                            INVEST, USING THE TRANSACTION METHOD OF CREDIT CARD OR DEBIT CARD.</p>
                        <p>"TETHERING TRON" MAKES TRADES, TRANSACTIONS AND OTHER INVESTMENTS WITH YOUR PRINCIPLE ASSET
                            TO GAIN PROFIT FROM.</p>
                        <p>YOU OWN THE THIRTY PER CENT OF THE WHOLE PROFIT OF YOUR INVESTMENT, ATTAINED BY "TETHERING
                            TRON" WHILE THE REMAINING SEVENTY PER CENT IS OWNED BY THE COMPANY.</p>
                        <p>THE SHARE YOU OWN FROM YOUR INVESTMENT (30% OF TOTAL PROFIT) IS DELIVERED TO YOUR "TETHERING
                            TRON" WALLET WEEKLY ON EVERY MONDAY AS TRX CRYPTOCURRENCY. </p>
                        <p>YOU CAN WITHDRAW THE TRX CRYPTOCURRENCIES YOU GOT AS PROFIT TO YOUR "TETHERING TRON" WALLET
                            ONLY IF YOUR WALLET NET AMOUNT REACHES OR EXCEED 100 TRX CRYPTOCURRENCIES. AND FOR EACH
                            WITHDRAWAL, AN AMOUNT OF 10 TRXs WOULD BE CHARGED AS WITHDRAWAL FEE. </p>
                        <p>"TRONIN" IS COMPLETELY A PROFIT LOSS SHARING INVESTMENT SCHEME WHEREIN THE INVESTOR IS ALSO
                            RESPONSIBLE TO INCUR LOSSES IF, IN ANY CIRCUMSTANCE, THE COMPANY FAILED TO YIELD PROFIT OR
                            SUBJECTED TO LOSS.</p>
                        <h4>SECTION B</h4>
                        <h6>THIS SCHEME IS NAMED AS "TETHERTO".</h6>
                        <p>"TETHERTO" ALLOWS YOU TO BUY USDT CRYPTOCURRENCY FOR THE PRICE GIVEN IN THE WEBSITES, MOBILE
                            SITES, MOBILE APPLICATIONS OR DESKTOP APPLICATIONS OFFERED BY "TETHERING TRON" COMPANY.</p>
                        <p>YOU CAN BUY USDT CRYPTOCURRENCY FROM "TETHERING TRON" BY TRANSFERRING ANY PHYSICAL CURRENCY
                            TO THE COMPANY USING THE TRANSACTION METHOD OF CREDIT CARD OR DEBIT CARD.</p>
                        <p>"TETHERTO" DOES NOT FACILITATE YOU TO SELL THE CRYPTOCURRENCIES. IT'S A MERE FACILITATOR TO
                            PROVIDE USDT CRYPTOCURRENCY FOR THE USERS FOR THE GIVEN PRICE. SO, IT DOES NOT PROVIDE ANY
                            CRYPTOCURRENCY OTHER THAN USDT. </p>
                        <p>IF YOU INTENT TO SELL THE USDT YOU BOUGHT FROM "TETHERING TRON" IN ANY OTHER CRYPTOCURRENCY
                            EXCHANGE PLATFORM, YOU ARE SOLELY AND EXCLUSIVELY RESPONSIBLE FOR ALL TRADING DECISIONS MADE
                            BY YOU THEN. IT'S UPON YOU TO CONSIDER THE SUITABILITY AND APPROPRIATENESS OF, AND
                            INVESTMENT STRATEGIES FOR THE CRYPTOCURRENCY. </p>
                        <p>YOU HEREBY ACKNOWLEDGE AND AGREE THAT THE COMPANY BEARS NO RESPONSIBILITY OR LIABILITY TO YOU
                            OR ANY OTHER PERSON WHATSOEVER FOR ANY LOSSES OR GAINS INCURRED IN CONNECTION WITH YOUR USE
                            OF THE SERVICES RELATED TO "TETHERTO".</p>
                        <p>YOU ALSO ACKNOWLEDGE AND AGREE THAT YOUR ABILITY TO USE THE SERVICES MAY BE DETRIMENTALLY
                            IMPACTED BY REGULATORY ACTION OR CHANGES IN REGULATIONS APPLICABLE TO CRYPTOCURRENCY. </p>
                        <p>THE REFERRALS MADE BY YOU TO US ARE IN YOUR INDIVIDUAL CAPACITY. IN THE EVENT YOU ARE
                            UNDERTAKING SUCH REFERRALS IN FURTHERANCE TO A BUSINESS OR PROFESSION, YOU ARE UNDER THE
                            OBLIGATION TO BRING IT TO OUR NOTICE. IN SUCH A CASE, WE WILL BE ENTITLED TO DEDUCT /
                            COLLECT ADDITIONAL WITHHOLDING TAXES AS MAY BE REQUIRED BY APPLICABLE LAW. </p>


                        <h3>PART 1</h3>
                        <h4 class="">ACCOUNTS</h4>
                        <p><strong>1.1</strong> Account Creation: In order to use certain features of the Site, you must
                            register for an
                            account (“Account”) and provide certain information about yourself as prompted by the
                            account registration form. You represent and warrant that: (a) all required registration
                            information you submit is truthful and accurate; (b) you will maintain the accuracy of such
                            information; (c) your use of the Services is and shall be in accordance with applicable law.
                            You may temporarily suspend your Account at any time, for any reason, by following the
                            instructions on the Site. "TETHERING TRON" may suspend or terminate your Account in
                            accordance with any misusage of the services.</p>
                        <p><strong>1.2</strong>Identity Verification: You agree to provide us with the information
                            we request for the purposes of identity verification and the detection of money laundering,
                            terrorist financing, fraud, or any other financial crime and permit us to keep a record of
                            such information. You will need to complete certain verification procedures before you are
                            permitted to use the Services and your access to the Services may be altered as a result of
                            information collected on an ongoing basis. The information we request may include certain
                            personal information, including, but not limited to, your name, address, telephone number,
                            e-mail address, date of birth, taxpayer identification number, government identification
                            number, and information regarding your bank account (such as the name of the bank, the
                            account type, routing number, and account number). In providing us with this or any other
                            information that may be required, you confirm that the information is accurate and
                            authentic. You agree to update this information and keep it current at all times. You
                            authorize us to make the inquiries, whether directly or through third parties, that we
                            consider appropriate, in our sole discretion, to verify your identity or protect you and/or
                            Us against fraud or other financial crimes, and to take action we reasonably deem necessary
                            based on the results of such inquiries.</p>

                        <p><strong>1.3</strong>Certain Restrictions: By using the Services, you represent and warrant
                            that: (i) neither you nor any of your directors, officers, employees, agents, affiliates or
                            representatives is an individual or an entity that is, or is owned or controlled by an
                            individual or entity that is (a) currently the subject of any Sanctions, or (b) located,
                            organized or resident in a Designated Jurisdiction; (ii) you have complied in all material
                            respects with all applicable laws relating to Sanctions, anti-terrorism, anti-corruption and
                            anti-money laundering; and (iii) you have instituted and maintained policies and procedures
                            designed to promote and achieve compliance with such laws. For the purpose of this
                            Agreement, “Designated Jurisdiction” means any country or territory to the extent that such
                            country or territory itself is the subject of any Sanction; “Sanction(s)” means any
                            international economic sanction administered or enforced by the United States Government
                            (including OFAC), the United Nations Security Council, the European Union or other relevant
                            sanctions authority.</p>
                        <p><strong>1.4</strong>Account Responsibilities: You are responsible for maintaining the
                            confidentiality of your Account login information and are fully responsible for all
                            activities that occur under your Account including all consequences under applicable laws.
                            You agree to immediately notify "TETHERING TRON" of any unauthorized use, or suspected
                            unauthorized use of your Account or any other breach of security. "TETHERING TRON" cannot
                            and will not be liable for any loss or damage arising from your failure to comply with the
                            above requirements. </p>
                        <p>"TETHERING TRON" will not be liable or responsible for compromise, unauthorized use or
                            suspected unauthorized use of your Account or any claims or actions in any manner related
                            thereto.</p>
                        <p><strong>1.5</strong> Compliance: You are solely responsible for ensuring that your use of
                            the Services is in compliance with all laws, rules and regulations applicable to you and the
                            right to access the Services is automatically revoked where use of the Services is
                            prohibited or to the extent that the offering, sale or provision of the Services conflicts
                            with any law, rule or regulation applicable to you.</p>

                        <h3>PART 2 </h3>
                        <h4>ACCESS TO THE SERVICES</h4>
                        <p><strong>2.1</strong>License: Subject to this Agreement, "TETHERING TRON" grants you a
                            non-transferable, non-exclusive, revocable, limited license to use and access the Services
                            solely for your own personal or internal business purposes, in accordance with the Account
                            type you are currently subscribing to.</p>
                        <p><strong>2.2</strong>Modification: "TETHERING TRON" reserves the right, at any time, to
                            modify, suspend, or discontinue the services (in whole or in part) with or without notice to
                            you. You agree that "TETHERING TRON" will not be liable to you or to any third party for any
                            modification, suspension, or discontinuation of the Services or any part thereof.</p>
                        <p><strong>2.3</strong>No Support or Maintenance: You acknowledge and agree that "TETHERING
                            TRON" will have no obligation to provide you with any support or maintenance in connection
                            with the Services.</p>
                        <p><strong>2.4</strong>Ownership: You acknowledge that all the intellectual property rights,
                            including copyrights, patents, trademarks, and trade secrets, in the Services and its
                            content are owned by "TETHERING TRON" or its suppliers.</p>
                        <p>Neither this Agreement (nor your access to the Services) transfers to you or any third party
                            any rights, title or interest in or to such intellectual property rights, except for the
                            limited access rights expressly set forth in Part 2.1 "TETHERING TRON" and its suppliers
                            reserve all rights not granted in this Agreement. There are no implied licenses granted
                            under this Agreement.</p>
                        <p><strong>2.5</strong>Feedback: If you provide "TETHERING TRON" with any feedback or
                            suggestions regarding the Feedback section, you hereby assign to "TETHERING TRON" all rights
                            in such Feedback and agree that the company shall have the right to use and fully exploit
                            such Feedback and related information in any manner it deems appropriate. We will treat any
                            Feedback you provide to "TETHERING TRON" as non-confidential and non-proprietary. You agree
                            that you will not submit to "TETHERING TRON" any information or ideas that you consider to
                            be confidential or proprietary.</p>
                        <h3>PART 3 </h3>
                        <h4> PROHIBITED ACTIVITIES</h4>
                        <p><strong>3.1</strong>Prohibited Activities. In connection with your use of Services, you
                            hereby agree that you will not: (a) violate (or assist any other party in violating) any
                            applicable law, statute, ordinance, or regulation; (b) intentionally try to defraud (or
                            assist in the defrauding of) "TETHERING TRON" or any other User; (c) provide false,
                            inaccurate, or misleading information; (d) trade taking advantage of any technical glitch,
                            malfunction, failure, delay, default, or security breach; (e) take any action that
                            interferes with, intercepts, or expropriates any system, data, or information; (f) partake
                            in any transaction involving the proceeds of illegal activity; (g) attempt to gain
                            unauthorized access to other "TETHERING TRON" Accounts, the Services, or any related
                            networks or systems; (h) use the Services on behalf of any third party or otherwise act as
                            an intermediary between "TETHERING TRON" and any third parties, unless "TETHERING TRON" and
                            the User have specifically entered into a written agreement enabling such use or action; (i)
                            use the Services to engage in conduct that is detrimental to "TETHERING TRON" or to any
                            other User or any other third party; (j) collect any user information from other Users,
                            including, without limitation, email addresses; (k) defame, harass, or violate the privacy
                            or intellectual property rights of "TETHERING TRON" or any other User; or (l) upload,
                            display or transmit any messages, photos, videos or other media that contain illegal goods,
                            pornographic, violent, obscene or copyrighted images or materials for use as an avatar, in
                            connection with a payment or payment request, or otherwise. (m) In addition, you agree not
                            to: (i) upload, transmit, or distribute to or through the Services any computer viruses,
                            worms, or any software intended to damage or alter a computer system or data; (ii) interfere
                            with, disrupt, or create an undue burden on servers or networks connected to the Services,
                            or violate the regulations, policies or procedures of such networks; (iii) attempt to
                            reverse engineer, de-compile, disable, interfere with, disassemble, copy, or disrupt the
                            integrity or the performance of the Services, any third-party use of the Services, or any
                            third-party data contained therein (except to the extent such restrictions are prohibited by
                            applicable law; or (iv) access the Services in order to build a competitive product or
                            service or copy any ideas, features, functions, or graphics of the Services.</p>
                        <p><strong>3.2</strong>Enforcement: We reserve the right (but have no obligation) to investigate
                            and/or take appropriate action against you in our sole discretion if you engage in
                            Prohibited Activities or violate any other provision of this Agreement or otherwise create
                            liability for us or any other person. Such action may include, in our sole and absolute
                            discretion, terminating your Account, reporting you to law enforcement authorities without
                            providing any notice of you about any such report and confiscating any balance remaining in
                            an Account which has been terminated.</p>
                        <h3>PART 4 </h3>
                        <h4>THIRD-PARTY PRODUCTS AND SERVICES; OTHER USERS</h4>
                        <p><strong>4.1</strong>Third-Party Services: You acknowledge that the Service will enable or
                            assist you to access, interact with, and/or purchase services from several supported
                            platforms and other third parties via third-party websites or applications (collectively,
                            “Third-Party Services”). Such Third-Party Services are not under the control of "TETHERING
                            TRON", "TETHERING TRON" does not review, approve, monitor, endorse, warrant, or make any
                            representations with respect to Third-Party Services and is not responsible for any
                            Third-Party Services. </p>
                        <p>You use all Third-Party Services at your own risk, and should apply a suitable level of
                            caution and discretion in doing so. Any use of Third-Party Services is governed solely by
                            the terms and conditions of such Third-Party Services and any contract entered into, or any
                            transaction completed via any Third Party Services, is between you and the relevant third
                            party, and not with "TETHERING TRON". You shall comply in all respects with all applicable
                            terms of the Third-Party Services that you access or subscribe to in connection with the
                            Services. If at any time any Third-Party Services cease to make their programs available to
                            us on reasonable terms, we may cease to provide such features to you without entitling you
                            to refund, credit, or other compensation.</p>
                        <p><strong>4.2</strong>Release: You hereby release and forever discharge "TETHERING TRON" (and
                            our officers, employees, agents, successors, and assigns) from, and hereby waive and
                            relinquish, each and every past, present and future dispute, claim, controversy, demand,
                            right, obligation, liability, action and cause of action of every kind and nature (including
                            personal injuries, death, and property damage), that has arisen or arises directly or
                            indirectly out of, or that relates directly or indirectly to, the Services (including any
                            interactions with, or act or omission of, other Users or any Third-Party Products and
                            Services).</p>
                        <h3>PART 5 </h3>
                        <h4>FEES AND TAXES.</h4>
                        <p><strong>5.1</strong>Withdrawal fees: You may be charged a fee of 10 TRXs to withdraw the TRX
                            cryptocurrencies from your "TETHERING TRON" wallet for each time.</p>
                        <p><strong>5.2</strong>Taxes: All fees paid by you shall be made free and clear of, and without
                            reduction for, any and all taxes, except any required withholding of taxes pursuant to
                            applicable law or on account of any Goods and Services Tax to the extent applicable. In case
                            where you withhold taxes pursuant to applicable law, you shall furnish to us a statement
                            detailing such withholding and deposit of withheld taxes.</p>
                        <h3>PART 6 </h3>
                        <h4>SUSPENSION, TERMINATION, AND CANCELLATION</h4>
                        <p><strong>6.1</strong>General: This Agreement will continue to apply to you until terminated by
                            either you or "TETHERING TRON". Any provision of this Agreement which, either by its terms
                            or to give effect to its meaning, must survive, and such other provisions which expressly,
                            or by their nature, are intended to survive termination shall survive the expiration or
                            termination of this Agreement.</p>
                        <p><strong>6.2</strong>Suspension, Termination: We may terminate your Account or suspend your
                            access to the Services at any time and with immediate effect for any reason, in our sole and
                            absolute discretion. We may decline to process any deposit or withdrawal without prior
                            notice and may limit or suspend your use of one or more Services at any time, in our sole
                            discretion. For example, we may, in our sole discretion, not process, withhold, suspend,
                            pause, or hold the deposits or withdrawals if we believe the transaction is suspicious, may
                            involve fraud or misconduct, violates applicable laws, or violates the terms of this
                            Agreement. If you have a balance remaining in an Account which has been suspended, we may
                            freeze such balance for so long as the Account is suspended. If the Account is terminated
                            due to fraud, violation of law, or violation of this Agreement, "TETHERING TRON" may, in its
                            discretion, confiscate any balance remaining in the Account and deliver it to any applicable
                            government, law enforcement, other authorities where circumstances warrant.</p>
                        <h3>PART 7</h3>
                        <h4>INDEMNIFICATION. </h4>
                        <p>You agree to indemnify and hold "TETHERING TRON" (and its officers, employees, and agents)
                            harmless, including costs and attorneys’ fees, from any claim or demand made by any third
                            party due to or arising out of (a) your use of the Services, (b) your violation of this
                            Agreement, (c) your violation of applicable laws or regulations, or (d) Third-Party
                            Services. "TETHERING TRON" reserves the right, at your expense, to assume the exclusive
                            defense and control of any matter for which you are required to indemnify us, and you agree
                            to cooperate with our defense of these claims.</p>
                        <h3>PART 8</h3>
                        <h4>COMMUNICATION</h4>
                        <p><strong>8.1</strong>Electronic Communications: The communications between you and "TETHERING
                            TRON" use electronic means, whether you use the Site or send us emails, or whether
                            "TETHERING TRON" posts notices on the Site or communicates with you via email. For
                            contractual purposes, you (a) consent to receive communications from "TETHERING TRON" in an
                            electronic form; and (b) agree that all terms and conditions, agreements, notices,
                            disclosures, and other communications that "TETHERING TRON" provides to you electronically
                            satisfy any legal requirement that such communications would satisfy if it were be in a
                            hardcopy writing. The foregoing does not affect your non-waivable rights.</p>
                        <h3>PART 9</h3>
                        <h4>THIS AGREEMENT</h4>
                        <p><strong>9.1</strong>Entire Agreement: This Agreement, together with "TETHERING TRON"’s
                            Privacy Policy, constitute the entire agreement between you and us regarding the use of the
                            Services. Our failure to exercise or enforce any right or provision of this Agreement shall
                            not operate as a waiver of such right or provision. The section and part titles in this
                            Agreement are for convenience only and have no legal or contractual effect. The word
                            “including” means “including without limitation”. If any provision of this Agreement is, for
                            any reason, held to be invalid or unenforceable, the other provisions of this Agreement will
                            be unimpaired and the invalid or unenforceable provision will be deemed modified so that it
                            is valid and enforceable to the maximum extent permitted by law. This Agreement, and your
                            rights and obligations herein, may not be assigned, subcontracted, delegated, or otherwise
                            transferred by you without "TETHERING TRON"’s prior written consent.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}