{% extends 'member/partials/base.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class=" form-head d-flex flex-wrap mb-4 align-items-center">
            <h2 class="text-black me-auto font-w600 mb-3">Coin Details</h2>
            <div class="card-action coin-tabs mt-3 mt-sm-0">
                <ul class="nav nav-tabs" role="tablist">


                    <li class="nav-item">
                        <a class="nav-link " data-bs-toggle="tab" href="#usdt" role="tab" aria-selected="false">
                            <svg width="24" height="24" viewBox="0 0 644 560" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_402_9)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M117.872 2.75003L0.493099 249.304C0.046439 250.221 -0.0951046 251.257 0.0891672 252.26C0.273439 253.264 0.773859 254.181 1.51725 254.88L318.529 558.653C319.429 559.517 320.629 559.999 321.876 559.999C323.124 559.999 324.323 559.517 325.224 558.653L642.235 254.899C642.979 254.2 643.479 253.282 643.663 252.279C643.848 251.276 643.706 250.24 643.259 249.323L525.881 2.76899C525.502 1.94096 524.893 1.23951 524.126 0.748479C523.359 0.257447 522.467 -0.00239741 521.557 8.20204e-07H122.234C121.319 -0.0113817 120.42 0.242203 119.646 0.730166C118.872 1.21813 118.256 1.91962 117.872 2.75003Z" fill="#50AF95"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M362.605 274.623C360.329 274.794 348.57 275.496 322.341 275.496C301.479 275.496 286.666 274.87 281.47 274.623C200.847 271.077 140.669 257.042 140.669 240.238C140.669 223.435 200.847 209.419 281.47 205.816V260.646C286.742 261.025 301.839 261.916 322.701 261.916C347.736 261.916 360.272 260.873 362.529 260.665V205.854C442.982 209.438 503.027 223.473 503.027 240.238C503.027 257.004 443.001 271.039 362.529 274.604L362.605 274.623ZM362.605 200.183V151.119H474.882V76.299H169.193V151.119H281.451V200.164C190.207 204.355 121.589 222.43 121.589 244.088C121.589 265.747 190.207 283.803 281.451 288.013V445.239H362.586V287.956C453.621 283.765 522.125 265.709 522.125 244.07C522.125 222.43 453.678 204.374 362.586 200.164L362.605 200.183Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_402_9">
                                <rect width="643.753" height="560" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                                
                            USDT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tron" role="tab" aria-selected="true">
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 26.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg width="24" height="24" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36"
                                style="enable-background:new 0 0 36 36;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #FFFFFF;
                                    }

                                    .st1 {
                                        fill: #b21212;
                                    }
                                </style>
                                <g>
                                    <path class="st0"
                                        d="M18,36L18,36C8.1,36,0,27.9,0,18v0C0,8.1,8.1,0,18,0h0c9.9,0,18,8.1,18,18v0C36,27.9,27.9,36,18,36z" />
                                    <g>
                                        <g>
                                            <path class="st1"
                                                d="M28.2,9.3L5.4,5l12.4,30.8l16.9-20.8L28.2,9.3z M31.8,14.7l-10.1,1.7l6.2-5.2L31.8,14.7z M26.3,10.4
                                            l-6.5,5.5L9.4,7.3L26.3,10.4z M17.5,31.1L8.6,8.7l10.5,8.6L17.5,31.1z M19,31.7l1.7-13.6l11-1.9L19,31.7z" />
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            Tron
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="tab-content">


            <div class="tab-pane fade show active" id="tron">
                <div class="row">
                    <div class="col-xl-3 col-xxl-4 mt-4">
                        <div class="card">
                            <div class="card-header pb-0 border-0">
                                <h4 class="mb-0 text-black fs-20">About</h4>
                                <div class="dropdown custom-dropdown mb-0">
                                    <div class="btn sharp tp-btn" data-bs-toggle="dropdown">
                                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.0049 13C12.5572 13 13.0049 12.5523 13.0049 12C13.0049 11.4477 12.5572 11 12.0049 11C11.4526 11 11.0049 11.4477 11.0049 12C11.0049 12.5523 11.4526 13 12.0049 13Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M12.0049 6C12.5572 6 13.0049 5.55228 13.0049 5C13.0049 4.44772 12.5572 4 12.0049 4C11.4526 4 11.0049 4.44772 11.0049 5C11.0049 5.55228 11.4526 6 12.0049 6Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M12.0049 20C12.5572 20 13.0049 19.5523 13.0049 19C13.0049 18.4477 12.5572 18 12.0049 18C11.4526 18 11.0049 18.4477 11.0049 19C11.0049 19.5523 11.4526 20 12.0049 20Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);">Details</a>
                                        <a class="dropdown-item text-danger" href="javascript:void(0);">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body height400 dz-scroll" id="about-3">
                                <div class="d-flex align-items-start mb-3 about-coin">
                                    <div>
                                        <img src="../static/images/svg/monero.svg" alt="">
                                    </div>
                                    <div class="ms-3">
                                        <h2 class="font-w600 text-black mb-0 title">Digital Cash</h2>
                                        <p class="font-w600 text-black sub-title">TRX</p>
                                        <!-- <span>1 XMR = 68.48 USD</span> -->
                                    </div>
                                </div>
                                <p class="fs-14">Tron (TRX) is a block-chain based dispersed platform having a
                                    cryptocurrency of its own. Tron came into existence in Asia but now had gone
                                    international. There are more than 50 million accounts on TRX as of the current
                                    reports. 
                                    
                                    
                                     </p>
                                <p class="fs-14">The platform is developed by Justin Sun, he is currently the CEO of Tron.
                                    Tron now has offices in Singapore as well as San Fransisco. Among all the
                                    cryptocurrencies TRX has the 31st position.</p>
                                <p class="fs-14">The slogan of TRX is "Decentralize the
                                    web" and the team targets to discharge corporate agents from the most common way of
                                    consuming media.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-9 col-xxl-8 mt-4">
                        <div class="card">
                            <div class="card-header pb-0 d-block d-sm-flex flex-wrap border-0 align-items-center">
                                <div class="me-auto mb-3">
                                    <h4 class="fs-20 text-black">Coin Chart</h4>
                                </div>

                                <!-- <div class="input-group detault-daterange me-3  mb-3">
                                    <span class="input-group-text"><i class="las la-calendar"></i></span>
                                    <input type="text" class="form-control input-daterange-timepicker" name="daterange"
                                        value="04/01/2015 1:30 PM - 01/01/2015 2:00 PM">
                                </div> -->

                            </div>
                            <div class="card-body pb-0 pt-sm-3 pt-0">
                                <div class="tradingview-widget-container">
                                    <div id="tradingview_f9e8d"></div>
                                    <div class="tradingview-widget-copyright"><a
                                            href="https://www.tradingview.com/symbols/TRXUSD/?exchange=BINANCE"
                                            rel="noopener" target="_blank"><span class="blue-text">TRXUSDT
                                                Chart</span></a> by TradingView</div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                    <script type="text/javascript">
                                        new TradingView.widget(
                                            {
                                                "width": "100%",
                                                "height": 500,
                                                "symbol": "BINANCE:TRXUSD",
                                                "interval": "1",
                                                "timezone": "exchange",
                                                "theme": "light",
                                                "style": "2",
                                                "locale": "en",
                                                "toolbar_bg": "#f1f3f6",
                                                "enable_publishing": false,
                                                "allow_symbol_change": true,
                                                "container_id": "tradingview_f9e8d"
                                            }
                                        );

                                            // "height": 550,
                                            //     "symbol": "BITSTAMP:BTCUSD",
                                            //         "interval": "D",
                                            //             "timezone": "Etc/UTC",
                                            //                 "theme": "Dark",
                                            //                     "style": "1",
                                            //                         "locale": "en",
                                            //                             "toolbar_bg": "#f1f3f6",
                                            //                                 "enable_publishing": false,
                                            //                                     "withdateranges": true,
                                            //                                         "hide_side_toolbar": false,
                                            //                                             "allow_symbol_change": true,
                                            //                                                 "show_popup_button": true,
                                            //                                                     "popup_width": "1000",
                                            //                                                         "popup_height": "650",
                                            //                                                             "container_id": "tradingview_e8053"
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="usdt">
                <div class="row">
                   
                    <div class="col-xl-10 col-xxl-10 mt-4 mx-auto">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'member/images/comingsoon.jpg' %}" alt="Card image cap">
                        </div>
                    </div>
                
                  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}