{% extends 'member/partials/base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="min-height: 780px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="{% static 'member/images/REFFFER.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1"> </p>
                                <h5 class="title font-w600 mb-2 mt-3"><a href="#" class="text-black">Refer And Earn</a>
                                </h5>
                                <span>Refer your friends and earn rewards</span>
                            </div>
                            <span class="badge badge-success d-sm-inline-block mt-lg-0 mt-3">Share</span>
                        </div>
                        <p class="mb-4">Referring a friend can increase your earnings. Do not wait any longer! Double
                            your earnings by sharing Tethering Tron with your friends. You will now be able to earn {{ add_reward.refer_reward }}
                            TRX. </p>

                        <div class="text-center"><a href="#" data-bs-toggle="modal" data-bs-target="#share"
                                class="btn btn-success">Share</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="{% static 'member/images/earn.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1"> </p>
                                <h5 class="title font-w600 mb-2 mt-3"><a href="#" class="text-black">Youtube Video</a>
                                </h5>
                                <span>Share your video and earn coins</span>
                            </div>
                            <span class="badge btn-youtube d-sm-inline-block mt-lg-0 mt-3">Youtube</span>
                        </div>
                        <p class="mb-4">Post a video on YouTube tagging us to maximize your earnings. The video should
                            not be shorter than 2 minutes. Earn {{ add_reward.youtube_reward }} TRX by sharing your video. </p>
                        <div class="text-center">

                            <button type="button" class="btn btn-youtube" data-bs-toggle="modal"
                                data-bs-target="#youtube">Youtube
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- share modal  -->


<!-- Modal youtube -->
<div class="modal fade" id="youtube">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Youtube</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body" >
                <form method="post">
                  {% csrf_token %}
                    <div class="mb-3">
                        <input type="url" name="youtube" class="form-control input-default " placeholder="Video URL here">
                    </div>
                    <div class="text-center">
                        <button  type="submit" class="btn btn-primary">Sent</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}