{% extends 'member/partials/base.html' %}
{% load static %}
{% block content %}

<div class="content-body" style="min-height: 780px;">
    <div class="container-fluid">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <!-- <script>
                alert('{{message}}')
            </script> -->
            <div class="alert alert-warning alert-dismissible fade show">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round" class="me-2">
                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z">
                    </path>
                    <line x1="12" y1="9" x2="12" y2="13"></line>
                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
                <strong>Warning!</strong> {{message}}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                </button>
            </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round" class="me-2">
                    <polyline points="9 11 12 14 22 4"></polyline>
                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
                <strong>Success!</strong> {{ message }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="{% static 'member/images/REFFFER.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1"> </p>
                                <h5 class="title font-w600 mb-2 mt-3"><a href="#" class="text-black">Refer And Earn</a>
                                </h5>
                                <span>Refer your friends and earn rewards</span>
                            </div>
                            <span class="badge badge-success d-sm-inline-block mt-lg-0 mt-3">Share</span>
                        </div>
                        <p class="mb-4">Referring a friend can increase your earnings. Do not wait any longer! Double
                            your earnings by sharing Tethering Tron with your friends. You will now be able to earn {{ add_reward.refer_reward }}
                            TRX. </p>

                        <div class="text-center"><a href="#" data-bs-toggle="modal" data-bs-target="#share"
                                class="btn btn-success">Share</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card project-card">
                    <div class="card-body">
                        <div class="d-flex mb-4 align-items-start">
                            <div class="dz-media me-3">
                                <img src="{% static 'member/images/earn.png' %}" class="img-fluid" alt="">
                            </div>
                            <div class="me-auto">
                                <p class="text-primary mb-1"> </p>
                                <h5 class="title font-w600 mb-2 mt-3"><a href="#" class="text-black">Youtube Video</a>
                                </h5>
                                <span>Share your video and earn coins</span>
                            </div>
                            <span class="badge btn-youtube d-sm-inline-block mt-lg-0 mt-3">Youtube</span>
                        </div>
                        <p class="mb-4">Post a video on YouTube tagging us to maximize your earnings. The video should
                            not be shorter than 2 minutes. Earn {{ add_reward.youtube_reward }} TRX by sharing your video. </p>
                        <div class="text-center">

                            <button type="button" class="btn btn-youtube" data-bs-toggle="modal"
                                data-bs-target="#youtube" {% if member_youtube_reward_exist %} disabled {% endif %}>Youtube
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- share modal  -->


<!-- Modal youtube -->
<div class="modal fade" id="youtube">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Youtube</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body" >
                <form method="post" id="youtube_reffer">
                  {% csrf_token %}
                    <div class="mb-3">
                        <input type="url" name="youtube" name="youtube" class="form-control input-default " placeholder="Video URL here">
                    </div>
                    <div class="text-center">
                        <button  type="submit" class="btn btn-primary">Sent</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}