{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}

<!--**********************************
            Content body start
        ***********************************-->
        
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Project -->
               
             
                <div class="row">
                    <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Make alert message</h4>
                                <div class="card-content">
                                    <div class="sweetalert mt-5">
                                        <button class="btn btn-danger btn sweet-wrong">Sweet Wrong</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                   
                 
                </div>
            </div>
        </div>
        
                <!--**********************************
                    Content body end
                ***********************************-->




                
            {% endblock %}