{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}

<!--**********************************
            Content body start
        ***********************************-->
        
        <div class="content-body">
            <div class="container-fluid">
                <!-- Add Project -->
               
             
                <div class="col-xl-12 col-lg-12 input-danger">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Textarea</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form method='post'>
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <textarea class="form-control" rows="4" id="comment" name="announcement"></textarea>
                                    </div>
                                    <button type="submit" class="btn  btn-square btn-danger">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
                <!--**********************************
                    Content body end
                ***********************************-->




                
            {% endblock %}