{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}




<div class="content-body">
    <div class="container-fluid">




<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_f9e8d"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/TRXUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">TRXUSDT Chart</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "width": 980,
    "height": 610,
    "symbol": "BINANCE:TRXUSD",
    "interval": "1",
    "timezone": "exchange",
    "theme": "light",
    "style": "2",
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_f9e8d"
  }
    );
    </script>
  </div>
  <!-- TradingView Widget END -->



</div>
</div>










{% endblock %}