{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12 input-danger">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Earnings</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method="post" id="Earnings">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input class="form-control"  id="comment" name="earnings_amount" placeholder="Enter amount in USD">
                            </div>
                            <button type="submit" class="btn  btn-square btn-danger">Submit</button>
                        </form>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
               
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="example4_wrapper" class="dataTables_wrapper no-footer">

                            <table id="example4" class="display dataTable no-footer" style="min-width: 845px"
                                role="grid" aria-describedby="example4_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Roll No: activate to sort column descending"
                                            style="width: 56.5469px;">sl/no</th>
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Student Name: activate to sort column ascending"
                                            style="width: 123.984px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Invoice number: activate to sort column ascending"
                                            style="width: 119.078px;">Amound</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for weekly_earnings_obj in weekly_earnings_obj %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{forloop.counter}}</td>
                                        <td>
                                            {{weekly_earnings_obj.date}}

                                        </td>
                                        <td>{{weekly_earnings_obj.earnings_amount}}</td>
                                        

                                    </tr>
                                    {% endfor %}


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}