{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-6 order-lg-2 mb-4">
                <div>
                    <img src="{% static 'trxadmin/images/selfi.jpg' %}" alt="" class="selfi">
                </div>
               <div>
                <a href="{% static 'trxadmin/images/selfi.jpg' %}" class="text-center downloadselfibutton" download>
                    <img src="{% static 'trxadmin/icons/Vector.svg' %}" alt="">
                </a>

               </div>
              
            </div> 

            <div class="col-xl-6 col-xxl-6 col-sm-6">
                <div class="card user-card text-center">
                    <div class="card-body pb-0">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="dz-media me-3">
                                <img src="{% static 'trxadmin/images/Untitled-1.jpg' %}" alt="">
                            </div>
                            <div>
                                <h5 class="title"><a href="javascript:void(0);">Thomas Djons</a></h5>
                                <!-- <span class="text-primary">Senior Developer</span> -->
                            </div>
                        </div>
                        <!-- <p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p> -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="mb-0 title">Email</span> :
                                <span class="text-black ms-2">example@gmail.com</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Phone</span> :
                                <span class="text-black ms-2">1238545644</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Location</span> :
                                <span class="text-black desc-text ms-2">Indonasia</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Refereec</span> :
                                <span class="text-black desc-text ms-2">ram</span>
                            </li>
                        
                            <li class="list-group-item">
                                <span class="mb-0 title">Referred id</span> :
                                <span class="text-black desc-text ms-2">545</span>
                            </li>
                           
                           
                            <li class="list-group-item">
                                <span class="mb-0 title">
                                    status
                                </span> :
                                <span class="badge badge-danger">pending</span></td>
                            </li>

                        </ul>
                    </div>
                   
                </div>
            </div> 
           
            
</div>
</div>

<div class="row">           
    <div class="col-lg-12 order-lg-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            
           
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Trx Address</h6>
                    
                </div>
                <span class="text-muted">757512</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Unit</h6>
                    <!-- <small class="text-muted">Brief description</small> -->
                </div>
                <span class="text-muted">8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Deposit Date</h6>
                    <!-- <small class="text-muted">Brief description</small> -->
                </div>
                <span class="text-muted">1/5/2025</span>
            </li>
            <li class="list-group-item d-flex justify-content-between active">
                <div class="text-white">
                    <h6 class="my-0 text-white">Earnings</h6>
                    <!-- <small>EXAMPLECODE</small> -->
                </div>
                <span class="text-white">-$5</span>
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$20</strong>
            </li> -->
        </ul>
    
      
    </div> 
    
    </div>

    <div class="row">           
        <div class="col-lg-12 order-lg-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                
               
            </h4>
            <button type="button" class="btn btn-danger">Reject<span class="btn-icon-end"><i class="fas fa-times"></i></span>
            </button>
            <button type="button" class="btn btn-success">Approve <span class="btn-icon-end"><i class="fa fa-check"></i></span>
            </button>

            
        
          
        </div> 
        
        </div>
</div>




            {% endblock %} 