{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            
             
            <div class="col-lg-6 order-lg-2 mb-4">
                <div>
                    <img src="{% static 'trxadmin/images/selfi.jpg' %}" alt="" class="selfie">
                </div>
               <div>
                <a href="{% static 'trxadmin/images/selfi.jpg' %}" class="text-center downloadselfibutton " download>
                    <img src="{% static 'trxadmin/icons/Vector.svg' %}" alt="">
                </a>

               </div>
              
            </div> 
            <div class="col-xl-6 col-xxl-6 col-sm-6">
                <div class="card user-card text-center">
                    <div class="card-body pb-0">
                        <div class="d-flex mb-3 align-items-center">
                            <div class="dz-media me-3">
                                <img src="{% static 'trxadmin/images/Untitled-1.jpg' %}" alt="">
                            </div>
                            <div>
                                <h5 class="title"><a href="javascript:void(0);">Thomas Djons</a></h5>
                                <!-- <span class="text-primary">Senior Developer</span> -->
                            </div>
                        </div>
                        <!-- <p class="fs-12">Answering guest inquiries, directing phone calls, coordinating travel plans, and more.</p> -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="mb-0 title">Email</span> :
                                <span class="text-black ms-2">{{kyc_details.user.email}}</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Phone</span> :
                                <span class="text-black ms-2">{{kyc_details.user.phone}}</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Country</span> :
                                <span class="text-black desc-text ms-2">{{kyc_details.country}}</span>
                            </li>
                            <li class="list-group-item">
                                <span class="mb-0 title">Referenced By</span> :
                                <span class="text-black desc-text ms-2">{{profile.recommended_by}}</span>
                            </li>
                        </ul>
                      
                    </div>
                   
                </div>
            </div> 
           
            
</div>
</div>

<div class="row">           
    <div class="col-lg-12 order-lg-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            
           
        </h4>
      
    
      
    </div> 
    
    </div>

    <div class="row">           
        <div class="col-lg-12 order-lg-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                
               
            </h4>
            <div class="text-center">
            <a href="#" class="btn btn-danger">Reject<span class="btn-icon-end"><i class="fas fa-times"></i></span>
            </a>
            <a href="#" class="btn btn-success">Approve <span class="btn-icon-end"><i class="fa fa-check"></i></span>
            </a>

        </div>
        
          
        </div> 
        
        </div>
</div>




            {% endblock %} 