{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">


        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Members</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="example4_wrapper" class="dataTables_wrapper no-footer">

                            <table id="example4" class="display dataTable no-footer" style="min-width: 845px"
                                role="grid" aria-describedby="example4_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Roll No: activate to sort column descending"
                                            style="width: 56.5469px;">sl/no</th>
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Student Name: activate to sort column ascending"
                                            style="width: 123.984px;">Member Name :</th>
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Invoice number: activate to sort column ascending"
                                            style="width: 119.078px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Fees Type : activate to sort column ascending"
                                            style="width: 79.5938px;">Phone </th>
                                       
                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                            colspan="1" aria-label="Payment Type : activate to sort column ascending"
                                            style="width: 108.531px;">Action </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for members in members %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{forloop.counter}}</td>
                                        <td>{{members.user.first_name}}</td>
                                        <td>{{members.user.email}}</td>
                                        <td>{{members.user.phone}}</td>
                                        <td>
                                            {% if members.user.member_status == 1 %}
                                                <a  href="{% url 'trxadmin:block' members.user.id %}"
                                                    class="btn btn-danger btn-xs light px-2">
                                                    Block
                                                </a>
                                                {% else %}
                                                <a href="{% url 'trxadmin:unblock' members.user.id %}"
                                                    class="btn  btn-success btn-xs light px-2">
                                                    unblock
                                                </a>
                                                {% endif %}
                                        </td>

                                    </tr>
                                  
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}