{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}

<!--**********************************
            Content body start
        ***********************************-->
        
        <div class="content-body">
            <div class="container-fluid">
                

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card text-center">
                            <div class="card-header">
                                <h5 class="card-title">Add reward</h5>
                            </div>
                            <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                                <p class="card-text">Add Youtube and Referral Earings here</p>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="add referral coins in TRX" name="reffer">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="add coins for youtube referral in TRX" name="youtubereffer">
                                </div>
                                
                                <button  class="btn btn-primary" type="submit">Submit</button>
                            </form>

                            </div>
                           
                        </div>
                    </div>
                    
                </div>

                </div></div>

{% endblock %}