{% load static %}


  <!--**********************************
            Sidebar start
        ***********************************-->
		

        <div class="deznav">
            <div class="deznav-scroll">
               
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li  {% if is_index %} class="mm-active" {% endif %}><a class=" ai-icon " href="{% url 'trxadmin:Trxadmin' %}" aria-expanded="false">
                            <i class="flaticon-144-layout"></i>
                            <span class="nav-text" >Dashboard</span>
                        </a>
                       
                    </li>
                    
    
                   
                            <li  {% if is_member %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:kyc' %}" aria-expanded="false">
                            <i class="flaticon-056-information"></i>
                            <span class="nav-text">KYC Verification</span>
                        </a>
                       
        
                    </li>
              
                    <li  {% if is_member %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:members' %}" aria-expanded="false">
                        <i class="flaticon-028-user-1"></i>
                        <span class="nav-text">Members</span>
                    </a>
                   
    
                </li>
               
             

            <li  {% if is_reward %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:reward' %}" aria-expanded="false">
                <i class="flaticon-003-diamond"></i>
                <span class="nav-text">Reward</span>
            </a>
           

        </li>
        <li  {% if is_earning %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:earning' %}" aria-expanded="false">
            <i class="flaticon-008-credit-card"></i>
            <span class="nav-text">Earnings</span>
        </a>
        
        
        </li> 
            <li  {% if is_announcement %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:announcement' %}" aria-expanded="false">
                <i class="flaticon-130-surprise"></i>
                <span class="nav-text">Announcement</span>
            </a>
           
   

        </li>
        
                    
        <li  {% if is_contact %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:contact' %}" aria-expanded="false">
            <i class="flaticon-025-rewind"></i>
            <span class="nav-text">Enquiries</span>
        </a>
       


    </li>      
                        
    <li  {% if is_coin %} class="mm-active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:coindetails' %}" aria-expanded="false">
        <i class="flaticon-057-eye"></i>
        <span class="nav-text">Coin Details</span>
    </a>
   

</li>     
                
                </ul>                  
                      
          
        
                   
            </div>
        </div>
        
                <!--**********************************
                    Sidebar end
                ***********************************-->