{% load static %}


  <!--**********************************
            Sidebar start
        ***********************************-->
		

        <div class="deznav">
            <div class="deznav-scroll">
                <div class="main-profile">
                    <div class="image-bx">
                      
                        <img src="{% static 'trxadmin/images/Untitled-1.jpg' %}" alt="" class="logo-abbr">
                        <!-- <a href="javascript:void(0);"><i class="fa fa-cog" aria-hidden="true"></i></a> -->
                    </div>
                    <h5 class="name"><span class="font-w400">Hello,</span> Marquez</h5>
                    <p class="email">marquezzzz@mail.com</p>
                </div>
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li  {% if is_index %} class="active" {% endif %}><a class=" ai-icon " href="{% url 'trxadmin:Trxadmin' %}" aria-expanded="false">
                            <i class="flaticon-144-layout"></i>
                            <span class="nav-text" >Dashboard</span>
                        </a>
                       
                    </li>
                    
                    <li  {% if is_share %} class="active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:share' %}" aria-expanded="false">
                    <i class="flaticon-061-puzzle"></i>
                    <span class="nav-text">Share</span>
                </a>
               

            </li>
                    </li>
                  
                            <li  {% if is_member %} class="active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:member' %}" aria-expanded="false">
                            <i class="flaticon-381-network"></i>
                            <span class="nav-text">Member's</span>
                        </a>
                       
        
                    </li>
                   
    
                </li>
                <li  {% if is_coin %} class="active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:coindetails' %}" aria-expanded="false">
                    <i class="flaticon-049-copy"></i>
                    <span class="nav-text">Coin deatails</span>
                </a>
               

            </li>
            <li  {% if is_announcement %} class="active" {% endif %}><a class=" ai-icon" href="{% url 'trxadmin:announcement' %}" aria-expanded="false">
                <i class="flaticon-003-diamond"></i>
                <span class="nav-text">Create Announcement</span>
            </a>
           
   

        </li>
      
                    
                   
                        
                           
                       
                      
                    </li>
        
                   
            </div>
        </div>
        
                <!--**********************************
                    Sidebar end
                ***********************************-->