
{% extends 'trxadmin/base.html' %}
{% load static %}
{% block content %}


<div class="content-body">
    <div class="container-fluid">
        
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                       <div class="row">
                            
                            <div class="col-lg-9">
                                <div class="email-right-box">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="right-box-padding">
                                             
                                                <div class="read-content">
                                                    
                                                    <hr>
                                                    <div class="media mb-2 mt-3">
                                                        <div class="media-body"><span class="pull-end">07:23 AM</span>
                                                            <h5 class="my-1 text-primary">A collection of textile samples lay spread</h5>
                                                            <p class="read-content-email">
                                                                To: Me, info@example.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="read-content-body">
                                                        <h5 class="mb-4">Hi,Ingredia,</h5>
                                                        <p class="mb-2"><strong>Ingredia Nutrisha,</strong> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture</p>
                                                        <p class="mb-2">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for
                                                            the far World of Grammar. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                                                        </p>
                                                        <p class="mb-2">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                                                            metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                                                            rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,</p>
                                                        <h5 class="pt-3">Kind Regards</h5>
                                                        <p>Mr Smith</p>
                                                        <hr>
                                                    </div>
                                                   
                                                    <hr>
                                                   
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}